#logo {
    width: 25%;
}
.container{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.buttons{
    display: flex;
    width: max-content;
}
.buttons p {
    margin: 22.5px 25px;
    flex: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:300;
}
.buttons p:hover {
    color: #f03e62;
}

.btn {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #f03e62;
    font-size: 15px;
    padding: 10px;
    background: #ffffff;
    border: solid #f03e62 2px;
    text-decoration: none;
    margin: 10px;
    flex-grow: 1;
    margin-top: 25px;
}

.btn:hover {
    background: #f0d8dd;
    margin-top: 25px;
}

#referral{
    margin-top: 15px;
    color:rgb(201, 106, 248);
}
#referral:hover{
background-color: rgb(249, 241, 253);
margin:0;
padding: 15px 25px;
border-radius: 10px;
}


#hand{
    width: 20px;
}