
#mens {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#mens>div {
    padding: 10px;
}

img {
    width: 100%;
}

h5+div {
    display: flex;
    justify-content: space-between;
}

h5+div>p:first-child {
    text-decoration: line-through;
}