
form{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 25px auto;
    
}
form>* {
    height:25px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 5px;

}
form>input {
    height: 40px;
}
table{

    width: 66%;
    margin: 50px auto;
}
thead{
    background-color: blueviolet;
    height: 40px;
    color: white;
}
tbody{
    background-color: powderblue;
    color: black;
    text-align: center;
}
tr{
    height: 40px;
}
tbody {
    background-color: powderblue;
    color: black;
    text-align: center;
}
.task{
    width: 400px;
}
.delete{
    width: 90px;
}
.status{
    width: 150px;
}