@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200;0,7..72,300;0,7..72,400;0,7..72,500;0,7..72,600;0,7..72,700;0,7..72,800;0,7..72,900;1,7..72,200;1,7..72,300;1,7..72,400;1,7..72,500;1,7..72,600;1,7..72,700;1,7..72,800;1,7..72,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    text-align: center;
    padding-top: 25px;
}
#container{
    display: flex;
    justify-content: space-between;
}
#container div{
    /* border-radius: 10px; */
    width:33%;
    margin-bottom:12.5px ;
    font-family: Literata;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

#container div img{
    /* border-radius: 10px 10px 0 0; */
    width: 99%;
    height:250px;
    text-align: center;
}
#container h5{
    text-align: justify;
    font-family: Helvetica, sans-serif;
    margin-left: 5%;
    color: #414A4C;
}
#container span{
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    color: red;
    font-weight: 900;
}